h1 {
    background: linear-gradient(to right, beige, silver);
    height: 10vh;
    width: 98vw;
    color: black;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 24px;
    border-radius: 10px;
    padding: 5px;
}

.heading {
    color: coral;
    height: 20vh;
    width: 98vw;
    background: linear-gradient(to right, cyan, royalblue);
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 24px;
    border-radius: 20px;
    padding: 5px;
}

#henry {
    max-height: 400px;
    max-width: 400px;
    border-radius: 20px;
}

#photoBack {
    width: 98vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: left;
    background: linear-gradient(to right, lightyellow, yellow);
    border-radius: 20px;
    padding: 5px;
}

.ending {
    font-family: 'Dancing Script';
}