h1 {
    background-color: silver;
    height: 10vh;
    width: 98vw;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    border-radius: 10px;
}

.heading {
    color: coral;
    height: 20vh;
    width: 98vw;
    background: linear-gradient(to bottom, cyan, royalblue);
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    border-radius: 20px;
}

#henry {
    max-height: 400px;
    max-width: 400px;
    border-radius: 20px;
}

#photoBack {
    width: 98vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, lightgreen, lawngreen);
    border-radius: 20px;
}